nav.navbar{
    background-color: var(--color-primary) !important;
}

.navbar-brand{
    color: var(--color-secondary) !important;
}

.icon{
    font-size: 2em;
    margin: .2em;
    
}

#basic-nav-dropdown{
    display:block !important;
    opacity:0;
    pointer-events:none;  
}


.nav-link{
    transition: all 200ms ease-in-out;
    
}

.active{
    color: var(--color-secondary) !important;
    font-weight: bold;
}

.nav-link:hover{
    color: var(--color-secondary) !important;
    font-weight: bold;
}