#generalComponent{
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	
}

#card{
	margin: 0 auto;
	display: grid;
	grid-template-areas: "image image friends "
						 "profile profile friends"
						 "profile profile friends"
						 "profile profile friends"
	;
	width: 85%;
	height: 70%;
	
	
}

#image-cropper{
	width: 150px;
	height: 150px;
	background-color: red;
	position: relative;
	overflow: hidden;
	border-radius: 50%;
	grid-area: image;
	margin: 0 auto;

}

#profilePicture{
	margin: 0 auto;
	width: 150%;
	object-fit: cover;
	
	
}

#friendListContainer{
	float: right;
	grid-area: friends;
	margin: 0 auto;
	padding: 3em;
	
	
	
}

#profileData *{
	margin: .5em;
}

#allData{
	grid-area: profile;
}
