
.GeneralComponent{
	margin-top: 5em; 

}
.ProfileData{
	text-align: left; 
	margin-left : 25%;


}
section{
	border-style: solid;
	border-radius: 10px;
	margin-left: 15%;
	margin-right:15%;
	margin-top:5%; 
}
