#generalComponent{
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

#card{
	
	display: grid;
	grid-template-areas: "image image friends friends"
						 "profile profile friends friends"
						 "profile profile friends friends"
						 "profile profile friends friends"
	;
	width: 85%;
	height: 70%;
	grid-auto-columns: 3fr;
	align-items: center;
	justify-items: center;
}

#image-cropper{
	width: 150px;
	height: 150px;
	background-color: red;
	position: relative;
	overflow: hidden;
	border-radius: 50%;
	grid-area: image;
}

#profilePicture{
	margin: 0 auto;
	width: 150%;
	object-fit: cover;
	
	
}

#friendListContainer{
	float: right;
	grid-area: friends;
	justify-self: start;
	
}

#profileData *{
	margin: .5em;
}

#allData{
	grid-area: profile;
}
