.buttons {
  display: flex;
  justify-content: flex-start;
  grid-row: 2 / 3;
}

.buttons button {
  margin: 1em;
  height: 40px;
}

.images {
  height: 20%;
  grid-row: 3 / 4;
}

.comments {
  display: flex;
  flex-direction: column;
}

.comments ul {
  list-style: none;
  grid-row: 3 / 5;
  width: 50%;
  margin: 0;
  padding: 0;
  text-align: left;
  height: 100%;
}

.comments ul li {
  margin: 0;
  padding: 0;
  font-style: italic;
}

.description {
  text-align: left;
}
