.settings {
  margin-top: 5em;
  margin: 5em auto;
  display: grid;
  flex-direction: column;
  justify-items: start;
  align-items: center;
  grid-template-columns: 1fr;
  grid-template-rows: auto repeat(3, 1fr);
  height: 70vh;
  text-align: left;
  width: 50%;
}

.settingsTitle {
  font-size: 3em;
  text-align: left;
}

.technicalInfo {
  display: flex;
  grid-column: 1 / 1;
  grid-row: 3 / 4;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.technicalInfo a {
  margin-left: 0.5em;
}

.language button:focus {
  outline: none;
}

.language {
  grid-column: 1 / 1;
  grid-row: 2 / 3;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.language a {
  color: var(--color-secondary);
  transition: all 200ms ease-in-out;
}

.language a:hover {
  color: var(--color-tertiary);
}

.howToUse {
  grid-column: 1 / 1;
  grid-row: 4 / 5;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
}
