.groupListContainer {
  display: flex;
  flex-direction: column;
  margin: 5em auto;
  align-items: center;
  justify-items: center;
  width: 100vh;
  overflow: hidden;
  height: 70vh;
}

.groupListContainer ul {
  list-style: none;
}

.groupListContainer ul li {
  width: 80%;
}
