#slideshow-container{
    margin: 0 auto;
    
}


#slideshow-container img{
    margin: 0;
    padding: 0;

    transform: scale(.4);
}

#slideshow-buttons{
    display: flex;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin: 0 auto;
}