#slideshow-container {
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

#slideshow-photos {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
}

#slideshow-container img {
  width: 20%;
}

#slideshow-buttons {
  margin: 0 auto;
  width: 50%;
  display: flex;
  transition: opacity 200ms ease-in-out;
}

#slideshow-buttons button {
  margin: 1em;
  width: 100%;
}

#slideshow-buttons button:disabled {
  opacity: 0.3;
}
