.myroutes {
    height: 100vh;
    width: 100vw;
    padding-top: 7em;
    max-height: 100vh;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: 15% auto;
    
}

#titleHolder{
    grid-column: 1 / 5;
    grid-row: 1 / 1;
    z-index: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

h1{
    font-size: 1.5em;
}

p{
    font-style: italic;
}

@media (max-width: 800px){
    .myroutes {
        padding-top: 5em;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 10% 50% auto;
        margin: 0;
        padding: 0;
    
    }

    #titleHolder{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        grid-column: 1 / 5;
        grid-row: 1 / 1;
        background-color: white;
        margin: 0 auto;
        margin-top: 5em;
        height: 150%;
        width: 90%;
        padding: .5em 0;
        
        border-radius: 5px;
    }

    .details{
            grid-column: 1 / 2;
            grid-row: 1 / 4;
            height: 100%;
            margin: 0;
            border-radius: 5px;
            z-index: 0;
    }
}