.footerElement {
  margin: 1%;
  display: inline;
}

.footerElement svg {
  transition: color 200ms ease-in-out;
  color: var(--color-secondary);
}

#githubIcon {
  font-size: 150%;
}
#footer {
  padding-bottom: 0.5%;
  padding-top: 0.5%;
  background-color: var(--color-primary) !important;
  color: var(--color-secondary) !important;
  font-size: 110%;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}
